python/pytest_demo/__pycache__/test_calculator.cpython-310-pytest-7.3.2.pyc
python/pytest_demo/__pycache__/calculator.cpython-310.pyc
python/pytest_demo/__pycache__/test_calculator_with_fixture.cpython-310-pytest-7.3.2.pyc
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
python/azure_function_demo/.funcignore
python/azure_function_demo/.gitignore
.gitignore
.gitignore
python/azure_function_demo/.vscode/extensions.json
python/azure_function_demo/.vscode/launch.json
python/azure_function_demo/.vscode/settings.json
python/azure_function_demo/.vscode/tasks.json
python/solutions/assignment_1.py
python/solutions/assignment_2.py
python/solutions/__pycache__/assignment_1.cpython-39.pyc
python/solutions/__pycache__/assignment_1.cpython-310.pyc
python/solutions/__pycache__/assignment_2.cpython-39.pyc
python/solutions/__pycache__/test_assignment_1.cpython-39-pytest-7.4.0.pyc
python/solutions/__pycache__/test_assignment_1.cpython-310-pytest-7.3.2.pyc
python/solutions/__pycache__/test_assignment_2.cpython-39-pytest-7.4.0.pyc
python/azure_function_demo/try.py
python/azure_function_demo/host.json
python/pytest_demo/__pycache__/calculator.cpython-39.pyc
python/pytest_demo/__pycache__/test_calculator_with_fixture.cpython-39-pytest-7.4.0.pyc
python/pytest_demo/__pycache__/test_calculator.cpython-39-pytest-7.4.0.pyc
