[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pyodbc = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.2"
